body {
  font-family: 'Roboto', sans-serif;
  width: 60%;
  margin: 0 auto;
}

.page-content {
  background-color: floralwhite;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

strong {
  cursor: pointer;
  color: hsl(230, 11%, 40%);
  font-weight: 700;
  text-transform: uppercase;
}

strong:hover {
  text-decoration: underline;
}

h1 {
  color: hsl(230, 29%, 20%);
  font-size: 36px;
  font-weight: 700;
  padding: 25px 0px;
}

h2 {
  color: hsl(230, 11%, 40%);
  font-size: 24px;
}

p {
  color: hsl(230, 11%, 40%);
  margin: 20px 0;
}

.duck-form h2 {
  text-align: center;
}

form {
  padding: 20px;
  margin: 20px auto;
  background-color: hsl(207, 33%, 95%);
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: flex-start;
}

input, select {
  padding: 7px 10px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  margin-top: 5px;
}

button {
  margin: 0 auto;
  background-color: lawngreen;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #fff;
  padding: 7px 15px;
  border-radius: 7px;
}

button:hover {
  background-color: rgb(167, 255, 79);
  cursor: pointer;
}

.results {
  padding: 20px 0;
}

.results-item {
  margin-bottom: 15px;
}

.results-item strong {
  text-decoration: none;
  cursor: auto;
}